@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3 {
     color:text-gray-200;
  }
  .full-width {
    width: 100%;
  }
  
  p,li {
    color:list-goalsOngoing bg-no-repeat bg-left-top bg-bookmark-check bg-contain py-0 pl-6 mb-4;
  }

  .list-goalsStart li {
    margin-bottom: 1rem;
    background: url(../public/assets/bookmark.svg) no-repeat left top;
    padding: 0px 0 0px 25px;
  }
  .list-goalsOngoing li {
    margin-bottom: 1rem;
    background: url(../public/assets/bookmark-check.svg) no-repeat left top;
    padding: 0px 0 0px 25px;
  }
  .list-goalsFinish li {
    margin-bottom: 1rem;
    background: url(../public/assets/bookmark-check-fill.svg) no-repeat left top;
    padding: 0px 0 0px 25px;
  }
}
.list-gift {
  margin-bottom: 1rem;
  background: url(../public/assets/gift.svg) no-repeat top;
  padding: 20px 0 0px 0px;
}
